@using Alarmist.API.Models.Account
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Alarmist - Resetowanie hasła";
    Layout = "_AccountLayout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-box">
    <div class="form-header">
        <header>Resetowanie hasła</header>
    </div>

    @if (ViewData["ResetStatus"] == null)
    {
        <form method="post" asp-antiforgery="true">
            <div class="input-box">
                <input type="email" asp-for="Email" class="input-field" placeholder="Email" autocomplete="off" required/>
            </div>

            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit"></button>
                <label for="submit">Wyślij link</label>
            </div>

            <div class="form-link">
                <a href="/account-login">Wróć do logowania</a>
            </div>
        </form>
    }
    else
    {
        <div class="send-info">
            <span>Sprawdź pocztę! Jeśli link resetujący do Ciebie nie dotarł i nie ma go w spamie,
                oznacza to, że podany email nie jest zgodny z zapisanymi informacjami na temat konta.</span>
        </div>
    }
</div>