@using Alarmist.API.Models;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Alarmist - Resetowanie hasła";
    Layout = "_AccountLayout";
}
<div class="form-box">
    <div>
        Forgot password?
    </div>

    <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary w-100 p-2" />
        <div class="text-center mt-2">
            <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back</a>
        </div>
    </form>
</div>