@using Alarmist.API.Models.Account
@using Alarmist.API.Models.Extensions;

@model LoginViewModel
@{
    ViewData["Title"] = "Alarmist | Logowanie";
    Layout = "_AccountLayout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-box">
    <div class="form-header">
        <header>Logowanie</header>
    </div>

    <form method="post" asp-antiforgery="true">
        <div class="input-box">
            <input type="email" asp-for="Email" class="input-field" placeholder="Email" autocomplete="off" required />
            
        </div>
        <div class="input-box">
            <input type="password" asp-for="Password" class="input-field" placeholder="Hasło" autocomplete="off" required />
        </div>

        <div class="forgot">
            <section>
                <input type="checkbox" asp-for="RememberMe" id="check" class="check" />
                <label for="check" class="check">Zapamiętaj mnie</label>
            </section>
            <section>
                <a href="/account-forgot-password">Nie pamiętasz hasła?</a>
            </section>
        </div>

        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="text-danger">
                @ViewData.ModelState.GetFirstError();
            </div>
        }

        <div class="input-submit">
            <button type="submit" class="submit-btn" id="submit"></button>
            <label for="submit">Zaloguj się</label>
        </div>

        <div class="social-login">
            <p>Lub zaloguj się przez</p>
            <div class="social-icons">
                <a href="#" class="social-icon facebook" title="Zaloguj się przez Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon google" title="Zaloguj się przez Google">
                    <i class="fab fa-google"></i>
                </a>
            </div>
        </div>

        <div class="form-link">
            <p>Nie masz konta? <a href="/account-register">Zarejestruj się</a></p>
        </div>
    </form>
</div>