.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

    .forgot section label {
        margin-left: 10px;
    }

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

    .sign-up-link a {
        color: #000;
        font-weight: 600;
    }

.social-login {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
}

    .social-icon:hover {
        filter: brightness(1.15);
    }

    .social-icon.facebook {
        background: #1877f2;
    }

    .social-icon.google {
        background: #db4437;
    }
