@using Alarmist.API.Models
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Alarmist | Resetowanie hasła";
    Layout = "_AccountLayout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-box">
    <div class="form-header">
        <header>Resetowanie hasła</header>
    </div>

    <form method="post" asp-action="ResetPassword" asp-antiforgery="true">
        <div class="input-box">
            <input type="email" asp-for="Email" class="input-field" placeholder="Email" autocomplete="off" />
        </div>
    </form>

    <div class="input-submit">
        <button type="submit" class="submit-btn" id="submit"></button>
        <label for="submit">Zresetuj hasło</label>
    </div>
</div>
