@using Alarmist.API.Models.Account
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Alarmist | Resetowanie hasła";
    Layout = "_AccountLayout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-box">
    <div class="form-header">
        <header>Zmiana hasła</header>
    </div>

    <form method="post" asp-action="ResetPassword" asp-antiforgery="true">
        <div class="input-box">
            <input type="password" asp-for="Password" class="input-field" placeholder="Hasło" autocomplete="new-password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="input-box">
            <input type="password" asp-for="RepeatPassword" class="input-field" placeholder="Powtórz hasło" autocomplete="new-password" required />
            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
        </div>
    </form>

    <div class="input-submit">
        <button type="submit" class="submit-btn" id="submit"></button>
        <label for="submit">Zmień hasło</label>
    </div>
</div>
