.number-input-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

    .number-input-box input {
        border: none;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
        width: 56px;
        height: 56px;
        margin: 0 4px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        user-select: none;
    }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

input[type=number] {
    -moz-appearance: textfield;
}