@using Alarmist.API.Models;
@model VerifyEmailViewModel
@{
    ViewData["Title"] = "Alarmist - Weryfikacja konta";
    Layout = "_AccountLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Weryfikacja kodu</h2>
        <form asp-action="VerifyEmail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="VerificationCode" class="form-label">Kod weryfikacyjny</label>
                <input asp-for="VerificationCode" class="form-control" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <input type="hidden" name="UserId" value="@ViewBag.UserId" />
            <input type="submit" value="Weryfikuj" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Powrót</a>
            </div>
        </form>
    </div>
</div>