.header {
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0; /* Kolor tła nagłówka */
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px; /* Dostosuj wysokość logo */
    margin-right: 10px;
}

.page-title {
    font-size: 1.2em;
    font-weight: bold;
}

.right-section {
    display: flex;
    align-items: center;
}

.dots-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

.initials-circle {
    width: 30px; /* Dostosuj rozmiar kółka */
    height: 30px; /* Dostosuj rozmiar kółka */
    background-color: lightblue; /* Kolor tła kółka */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Kolor tekstu w kółku */
    font-weight: bold;
}

.container body-content {
    position: relative;
    float: left;
    top: 800px;
    background: red;
}