@page "Notifications"
@{
    Layout = "_HomeLayout";
}

<div class="form-box">
    <h3>Add notification</h3>
</div>

<!--

    Label: Notification Type
        - Payment
        - Activity
        - Other

    Label: Reminder Type
        - Once (at day)
        - Periodic (at day, every week, month, year)
    
    
-->