* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.form-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

    .form-header header {
        color: #333;
        font-size: 30px;
        font-weight: 600;
    }

::placeholder {
    font-weight: 500;
    color: #222;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

    section a {
        color: #555;
    }

a {
    text-decoration: none;
}

    a:not(.social-icon):hover {
        text-decoration: underline;
    }

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.input-submit {
    position: relative;
    font-size: 18px;
}

    .input-submit button {
        width: 100%;
        height: 60px;
        background: #222;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: .3s;
    }

        .input-submit button:hover {
            background: #000;
            transform: scale(1.05, 1);
        }

    .input-submit label {
        position: absolute;
        top: 45%;
        left: 50%;
        color: #fff;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

.form-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

    .form-link a {
        color: #000;
        font-weight: 600;
    }

.text-danger {
    color: red;
}